<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PrimaDona - Taste the New Flavor</title>
    <link rel="stylesheet" href="footer.component.css">
</head>
<body>
    <!-- Footer -->
    <footer class="footer">
        <p>PrimaDona &copy; 2024. All rights reserved.</p>
        <div class="social-media">
            <a href="#"><img src="assets\Photos\correo.png" alt="Correo"></a>
            <a href="#"><img src="assets\Photos\insta.png" alt="Instagram"></a>
            <a href="#"><img src="assets\Photos\tools.png" alt="Facebook"></a>
            
        </div>
    </footer>

</body>
</html>
