

    <!-- Header -->
    <header class="navbar">
      <div class="logo">
        <!-- Logo or brand name here -->
        <h1>PrimaDona</h1>
      </div>
      <nav class="nav">
        <li><a href="#about">About us</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="#cart">Cart <span class="cart-notification">1</span></a></li>
        <li><a routerLink="/menu">Menu</a></li>
      </nav>
      <div class="profile-icon">
        <img src="https://static-00.iconduck.com/assets.00/profile-circle-icon-256x256-dngglm1r.png" alt="Profile Icon" width="40" height="40">
      </div>
    </header>

