<!DOCTYPE html>
<html>
<head>
  <title>Donut Order Page</title>
  <link rel="stylesheet" href="menu.component.css">
</head>
<body>
  <h1>BEGIN YOUR ORDER</h1>

  <div class="donut-pack">
    <img src="single.png" class="donut-image">
    <div class="donut-text">
        <h2>Single</h2>
        <p class="donut-price">$5.00</p>
      </div>
  </div>

  <div class="donut-pack">
    <img src="3 pack.png" class="donut-image">
    <h2>3-Pack</h2>
    <p class="donut-price">$18.00</p>
  </div>

  <div class="donut-pack">
    <img src="6 pack.png" class="donut-image">
    <h2>6-Pack</h2>
    <p class="donut-price">$25.00</p>
  </div>

  <div class="donut-pack">
    <img src="12 pack.png" class="donut-image">
    <h2>12-Pack</h2>
    <p class="donut-price">$40.00</p>
  </div>

  <br>

  <button class="button">CHECK OUT</button>
</body>
</html>
